@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: gray !important;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}
main {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
    height: auto;
    min-height: 100vh;
    background-color: gray;
}

form {
    min-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin: auto;
    background-color: #fff;
}

form h1 {
    width: 50%;
    text-align: center;
    margin: 20px auto;
    color: green;
    font-weight: bold;
    font-size: 30pt;
    box-shadow: 0px 1px 1px 1px;
}

form .textInput {
    width: 50%;
    border: none;
    border-radius: 10px;
    background-color: lightgreen;
    margin: 5px;
    box-shadow: 1px 1px 1px 1px grey;
    padding: 15px;
}

form input:focus {
    outline: none;
}

form #checks {
    display: flex;
    /* width: 50%; */
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
form .form-check {
    margin: 10px 20px;
    cursor: pointer;
}
form .btn-success {
    margin: 15px;
}

